{% extends "base.html" %}

{% block announce %}
🥳 <a href="https://leagueoflinux.org">leagueoflinux.org</a> is the new home for the r/leagueoflinux wiki 🚧 it is still under construction, to suggest changes please <a href="https://gitlab.com/leagueoflinux/leagueoflinux.gitlab.io/-/issues">open an issue</a> 📝
{% endblock %}